body{
  font-size: 14px;
}

.progress {
  height: 0.5rem;
}

.overflow {
  height: 50%;
  overflow: hidden;
  cursor: pointer;
  display: block;
}

.overflow .card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.overflow .card-img-top:hover {
  transform: scale(1.8);
}

pre{
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI";
  font-size: 1rem;
  max-width: auto;
}

footer {
  border-top: 1px solid #d6d6d6;
  background-color: #f1f1f1;
}

.navbar{
  /*   z-index should be above .close-navbar-toggler */
    z-index:2;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
  }
  .close-navbar-toggler{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:1;
    cursor:pointer;
  }
  .close-navbar-toggler.collapsed{
    z-index:-1;
  }