body{
  font-size: 14px;
}

.progress {
  height: 0.5rem;
}

.overflow {
  height: 50%;
  overflow: hidden;
  cursor: pointer;
  display: block;
}

.overflow .card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.overflow .card-img-top:hover {
  transform: scale(1.8);
}

footer {
  border-top: 1px solid #d6d6d6;
  background-color: #f1f1f1;
}